.resume {
  position: absolute;

  left: 40%;
  background: black;
  padding: 0;
  margin: 0;
  background: transparent;
  height: 518px;
}

.resume img {
  width: 400px;
}

.buttons {
  position: absolute;
  top: 2px;
  right: 5px;
}

.closeBtn {
  justify-content: end;
  margin-top: 2px;
  width: 22px;
  height: 22px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-image: url("../assets/closebtn.png");
  background-size: contain;
  background-repeat: no-repeat;
}
