.resume {
  position: absolute;
  top: 10%;
  left: 40%;
  background: black;
  padding: 0;
  margin: 0;
  height: 518px;
}

.resume img {
  width: 400px;

  margin-top: 30px;
  margin-left: 3px;
}

.resumeContainer {
  background-color: #245dda;
  width: 406px;
  height: 555px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.closeBtn {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-image: url("../assets/closebtn.png");
  background-size: contain; /* or 'cover' or exact pixels */
  background-repeat: no-repeat;
  background-position: ;
}
