.noOutline,
.noOutline:focus,
.noOutline:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.noWhiteFlash {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.noWhiteFlash:active {
  box-shadow: none !important;
  outline: none !important;
}

.window-body {
  margin: 0 3px 0 8px !important;
}
